<template>
  <v-container>
  


    <v-card
      class="mx-auto"
      max-width="400"
      tile
    >
     <v-subheader>Sensore</v-subheader>
      <v-list-item two-line>
        <v-list-item-content>
          <v-list-item-title>Temperatura</v-list-item-title>
          <v-list-item-subtitle>{{ sensore.temperatura }} °C</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>  
      <v-list-item two-line>
        <v-list-item-content>
          <v-list-item-title>Umidità</v-list-item-title>
          <v-list-item-subtitle>{{ sensore.umidita }} rH</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-list-item two-line>
        <v-list-item-content>
          <v-list-item-title>Pressione</v-list-item-title>
          <v-list-item-subtitle>{{ sensore.pressione }} hPa</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>  
      <v-list-item two-line>
        <v-list-item-content>
          <v-list-item-title>Qualità dell'aria</v-list-item-title>
          <v-list-item-subtitle>{{ sensore.iaq }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>  
    </v-card>

  </v-container>
</template>

<script>
import axios from 'axios';

export default {
  data: () => ({
    sensore :{
      temperatura: 0,
      umidita: 0,
      pressione: 0,
      iaq: 0
    },
    ecosystem: [
      {
        text: 'vuetify-loader',
        href: 'https://github.com/vuetifyjs/vuetify-loader',
      },
      {
        text: 'github',
        href: 'https://github.com/vuetifyjs/vuetify',
      },
      {
        text: 'awesome-vuetify',
        href: 'https://github.com/vuetifyjs/awesome-vuetify',
      },
    ],
    importantLinks: [
      {
        text: 'Documentation',
        href: 'https://vuetifyjs.com',
      },
      {
        text: 'Chat',
        href: 'https://community.vuetifyjs.com',
      },
      {
        text: 'Made with Vuetify',
        href: 'https://madewithvuejs.com/vuetify',
      },
      {
        text: 'Twitter',
        href: 'https://twitter.com/vuetifyjs',
      },
      {
        text: 'Articles',
        href: 'https://medium.com/vuetify',
      },
    ],
    whatsNext: [
      {
        text: 'Explore components',
        href: 'https://vuetifyjs.com/components/api-explorer',
      },
      {
        text: 'Select a layout',
        href: 'https://vuetifyjs.com/layout/pre-defined',
      },
      {
        text: 'Frequently Asked Questions',
        href: 'https://vuetifyjs.com/getting-started/frequently-asked-questions',
      },
    ],
  }),
  mounted () {
   
    window.setInterval(() => {
             this.getData();
        },60000);
  },
  methods: {
   
   getData(){ 
      axios
      .get('http://192.168.1.16:3000/api/mostra')
      .then(response => (
        this.sensore.temperatura = response.data.object.temperatureSensor['2'],
        this.sensore.umidita = response.data.object.humiditySensor['7'],
        this.sensore.pressione = response.data.object.barometer['6'],
        this.sensore.iaq = response.data.object.analogInput['8']
        ))
     },



  }
};
</script>
